REACT_APP_API_BASE_URL=http://localhost:5000
# For LAN access (for example from an iPad), set this to your laptop IP:
# REACT_APP_API_BASE_URL=http://10.30.31.197:5000
MONGO_URL=mongodb+srv://<olamichael190606_db_user>:<DEMON_SLAYER>@crymsoncluster.ugfx962.mongodb.net/?appName=CrymsonCluster
